@import 'tailwindcss';

@theme {
  --text-xs: 0.875rem; /* formerly 0.75rem */
  --text-sm: 1rem; /* formerly 0.875rem */
  --text-base: 1.125rem; /* formerly 1rem */
  --text-lg: 1.25rem; /* formerly 1.125rem */
  --text-xl: 1.5rem; /* formerly 1.25rem */
  --text-2xl: 1.875rem; /* formerly 1.5rem */
  --text-3xl: 2.25rem; /* formerly 1.875rem */
}

html {
  font-size: 17px;
}
